*{
    margin: 0%;
    padding:0%;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #8d5f2b;
    margin: 0;
    padding: 0;
}
.navbar{
    background: rgb(71, 51, 14);
    padding-left: 3%;
    padding-right: 3%;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.logo{
    margin-right: 5%;
}
.logoimg{
    display: flex;
    margin-left: 30%;
    padding: 8%;
    width: 100%;
    height: 100%;
}
.navbar li{
    list-style: none;
    display: inline-block;
}
.navbar li a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
}
@media (max-width: 750px) {
    .navdiv {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .logo {
      margin-bottom: 10px;
    }
    .navdiv ul {
        text-align: center;
        line-break:auto;
        display: block;
        width: auto;
      }
}


.headtop{
    color: #fff;
    text-align: center;
    font-style: italic;
}
.pglink{
    display: flex;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
}
.pglink a{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.pglink a:hover{
    background-color: #000000;
}
.whole{
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 3%;
    margin-top: 4%;
    margin-left: 15%;
    margin-right: 15%;
}
.kosgoda{
    margin: 5%;
}
.kos{
    width: 75%;
    height: 50%;
}
.iframe{
    width: 70%;
}
.vid{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 3%;
}
footer{
    background-color: rgb(71, 51, 14);
    color: #fff;
}
footer p{
    text-align: right;
    color:#fff;
    padding: 3%;
}
footer li{
    padding: 1%;
    text-align: left;
}
footer li a{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
footer,.navbar a:hover{
    background-color: #000000;
}